<!-- <header class="section-header">
    <section class="header-main border-bottom">
        <div class="container">
    <div class="row align-items-center">
        <div class="col-lg-2 col-4">
           <a >Company Name</a>
        </div>
        <div class="col-lg-6 col-sm-12">
            <form action="#" class="search">
                <div class="input-group w-100">
                    <input type="text" class="form-control" placeholder="Ara">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="submit">
                        <i class="fa fa-search"></i>
                      </button>
                    </div>
                </div>
            </form>
        </div> 
        <div class="col-lg-4 col-sm-6 col-12">
            <div class="widgets-wrap float-md-right">
                <div class="widget-header  mr-3">
                    <a  class="icon icon-sm rounded-circle border"><i class="fa fa-shopping-cart"></i></a>
                    <span class="badge badge-pill badge-danger notify">0</span>
                </div>
                <div class="widget-header icontext">
                    <a  class="icon icon-sm rounded-circle border"><i class="fa fa-user"></i></a>
                    <div class="text">
                        <span class="text-muted">Welcome!</span>
                        <div> 
                            <a >Sign in</a> |  
                            <a >Register</a>
                        </div>
                    </div>
                </div>
    
            </div> 
        </div> 
    </div> 
        </div>
    </section> 
    </header> 
     -->
    
    
    <!-- ========================= SECTION PAGETOP ========================= -->
    <section class="section-pagetop bg">
    <div class="container">
        <h2 class="title-page">Kantin Harcaması</h2>
    </div> <!-- container //  -->
    </section>
    <!-- ========================= SECTION INTRO END// ========================= -->
    
    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content padding-y">
    <div class="container">
    
    <div class="row">
        <main class="col-md-9">
    <div class="card">
    
    <table class="table table-borderless table-shopping-cart">
    <thead class="text-muted">
    <tr class="small text-uppercase">
      <th scope="col">Ürünler</th>
      <th scope="col" width="120">Adet</th>
      <th scope="col" width="120">Fiyat</th>
      <th scope="col" class="text-right" width="200"> </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <figure class="itemside">
                <div class="aside"><img src="assets/images/items/1.jpg" class="img-sm"></div>
                <figcaption class="info">
                    <a  class="title text-dark">Çay</a>
                    <p class="text-muted small">Kategori: İçecek<br>Marka: Çaykur</p>
                </figcaption>
            </figure>
        </td>
        <td> 
            <select class="form-control">
                <option>1</option>
                <option>2</option>  
                <option>3</option>  
                <option>4</option>  
            </select> 
        </td>
        <td> 
            <div class="price-wrap"> 
                <var class="price">5 TL</var> 
                <small class="text-muted"> KDV Dahil </small> 
            </div> <!-- price-wrap .// -->
        </td>
        <td class="text-right"> 
        <!-- <a data-original-title="Favorilere Ekle" title=""  class="btn btn-light mr-2" data-toggle="tooltip"> <i class="fa fa-heart"></i></a>  -->
        <a  class="btn btn-light">Sepetten Çıkart</a>
        </td>
    </tr>
    <tr>
        <td>
            <figure class="itemside">
                <div class="aside"><img src="assets/images/items/2.jpg" class="img-sm"></div>
                <figcaption class="info">
                    <a  class="title text-dark">Kahve</a>
                    <p class="text-muted small">Kategori: İçecek<br>Marka: Nescafe</p>
                </figcaption>
            </figure>
        </td>
        <td> 
            <select class="form-control">
                <option>1</option>
                <option>2</option>  
                <option>3</option>  
                <option>4</option>  
            </select> 
        </td>
        <td> 
            <div class="price-wrap"> 
                <var class="price">8 TL</var> 
                <small  class="text-muted"> KDV Dahil </small>  
            </div> <!-- price-wrap .// -->
        </td>
        <td class="text-right"> 
        <!-- <a data-original-title="Save to Wishlist" title=""  class="btn btn-light mr-2" data-toggle="tooltip"> <i class="fa fa-heart"></i></a>  -->
        <a  class="btn btn-light btn-round">Sepetten Çıkart</a>
        </td>
    </tr>
    <tr>
        <td>
            <figure class="itemside">
                <div class="aside"><img src="assets/images/items/3.jpg" class="img-sm"></div>
                <figcaption class="info">
                    <a  class="title text-dark">Su</a>
                    <p class="small text-muted">Kategori: İçecek<br>Marka: Kalabak</p>
                </figcaption>
            </figure>
        </td>
        <td> 
            <select class="form-control">
                <option>1</option>
                <option>2</option>  
                <option>3</option>  
            </select> 
        </td>
        <td> 
            <div class="price-wrap"> 
                <var class="price">3 TL</var> 
                <small class="text-muted"> KDV Dahil</small> 
            </div> <!-- price-wrap .// -->
        </td>
        <td class="text-right"> 
            <!-- <a data-original-title="Save to Wishlist" title=""  class="btn btn-light mr-2" data-toggle="tooltip"> <i class="fa fa-heart"></i></a>  -->
            <a  class="btn btn-light btn-round"> Sepetten Çıkart</a>
        </td>
    </tr>
    </tbody>
    </table>
    
    <div class="card-body border-top">
        <button type="button" class="btn btn-primary float-md-right">Sipariş Ver<i class="fa fa-chevron-right"></i></button>
        <button type="button" class="btn btn-info" routerLink="home"> <i class="fa fa-chevron-left"></i> Alışverişe Devam Et </button>
    </div>  
    </div> <!-- card.// -->
    
    <!-- <div class="alert alert-success mt-3">
        <p class="icontext"><i class="icon text-success fa fa-truck"></i> Free Delivery within 1-2 weeks</p>
    </div> -->
    
        </main> <!-- col.// -->
        <aside class="col-md-3">
            <div class="card mb-3">
                <div class="card-body">
                <form>
                    <div class="form-group">
                        <label>Çayımızı Denediniz mi?</label>
                        <!-- <div class="input-group">
                            <input type="text" class="form-control" name="" placeholder="Coupon code">
                            <span class="input-group-append"> 
                                <button class="btn btn-primary">Apply</button>
                            </span>
                        </div> -->
                    </div>
                </form>
                </div> <!-- card-body.// -->
            </div>  <!-- card .// -->
            <div class="card">
                <div class="card-body">
                        <dl class="dlist-align">
                          <dt>Sepet Tutarı:</dt>
                          <dd class="text-right">100 TL</dd>
                        </dl>
                        <dl class="dlist-align">
                          <dt>İndirim:</dt>
                          <dd class="text-right">Yok</dd>
                        </dl>
                        <dl class="dlist-align">
                          <dt>Net Tutar:</dt>
                          <dd class="text-right  h5"><strong>100TL</strong></dd>
                        </dl>
                        <hr>
                        <p class="text-center mb-3">
                            <img src="assets/images/misc/payments.png" height="26">
                        </p>
                        
                </div> <!-- card-body.// -->
            </div>  <!-- card .// -->
        </aside> <!-- col.// -->
    </div>
    
    </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
    
    <!-- ========================= SECTION  ========================= -->
    <!-- <section class="section-name bg padding-y">
    <div class="container">
    <h6>Payment and refund policy</h6>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    
    </div>
    </section> -->
    <!-- ========================= SECTION  END// ========================= -->
    
    <!-- ==continue======================= FOOTER ========================= -->
    <footer class="section-footer border-top padding-y">
        <div class="container">
            <p class="float-md-right"> 
                &copy; 2022 Anadolu Üniversitesi BAUM - Tüm hakları saklıdır.
            </p>
            <p>
                <a >Şartlar ve koşullar</a>
               
            </p>
        </div><!-- //container -->
    </footer>
    <!-- ========================= FOOTER END // ========================= -->