<!-- <button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>

<button type="button" class="btn btn-link">Link</button> -->
<p *ngIf="authenticationService.isAuthenticated" ></p>
<div class="row">
    <div class="col-md-3">
        
    <app-category></app-category>
    </div>
    <div class="col-md-9">
        <router-outlet></router-outlet>
    </div>
</div>